* {
	margin:0;
	padding:0;
}

body {
  margin: 0;
  font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
  font-size:90%;
  color: #333333;
  background-color: #ffffff;
}
a{
	color: #F66B64;
	text-decoration: none;	
}
a:hover{
	color: #4187cd;
	text-decoration:none;
}


/*login form*/
#login-form{
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #b8b8b8;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.linearBg-white-gray{
  /* fallback */
  background-color: #FFF;
  background: url(../img/linear_bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#e6e8e8));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #FFFFFF, #e6e8e8);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #FFFFFF, #e6e8e8);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #FFFFFF, #e6e8e8);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #FFFFFF, #e6e8e8);
}